@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:ital,wght@0,100;0,300;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Noto+Sans+Mayan+Numerals&family=Poppins:ital,wght@0,100;0,300;1,100;1,300&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:ital,wght@0,100;0,300;1,100;1,300&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Noto+Sans+Mayan+Numerals&family=Noto+Serif+Tamil:wght@200&family=Poppins:ital,wght@0,100;0,300;1,100;1,300&family=Syne+Mono&display=swap');

*{
margin:0; 
padding:0;
box-sizing:border-box;
font-family: 'Poppine',sans-serif;
}
body{
height:100vh;
width:100vw;
background:radial-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.6)),url(01.jpg);
background-repeat: no-repeat;
background-size: cover;
}
body{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
selection{
display:flex;

}
.box{
width:50px;
 height:50px;
    text-align:center;
    margin-left:5px;
}
h6{
  font-size: 1.5rem;
  font-family: 'poppine',cursive;
  color: rgb(204, 74, 198);
  
}
.newyear{
  font-family: 'inspiration',cursive;
  margin:20px 0px;
  color:blue;
  text-shadow: 3px 3px 10px rgb(211, 13, 13);

}
small{
  font-family: 'Syne Mono', monospace;
  color: rgba(168, 227, 250, 0.938);
  font-size: 0.7rem;
  text-shadow: 3px 3px 4px rgb(255, 250, 250);
}
h2{
    color: aliceblue;
    font-size:1rem;
    font-family: 'Noto Sans Mayan Numerals', sans-serif;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);

  }
@media (min-width:576px)
    {  
        h3{
              font-size:2.5rem;  
        }
        h2{
          font-size:1.5rem;        }
    }
@media (min-width:960px)
    {
        h2{
          font-size:2rem;
         
        }
         h3{
           font-size:3.5rem;        
        }
    }
    git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/naveenprohack/newYearProject.git
git push -u origin main